nav {
    height: 50px;
    letter-spacing: 0.016666666666666666rem;
}
.inline-block {
    width: 50%;
    display: inline;
    padding: 15px;
}

.topnav {
    color: grey;
    text-align: center;
    padding: 14px 16px;
    float: right;
    overflow: hidden;
    margin-bottom: 50px;
    margin-right: 50px;
}

.heading-2 {
    position: absolute;
    font-size: 25px;
    line-height: 20px;
    margin-top: 16px;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heroimg {
    height: 600px;
    padding: 25px;
}

img {
    max-width: 30%;
    margin-right: auto;
    margin-left: 15px;
    float: left;
    padding-right: 30px;
}
.left {
    display: block;
    float: left;
}

p {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 0px;
    font-family: Karla, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    letter-spacing: -0.2px;
}
.footer {
    float: right;
    height: 10px;
    margin-right: 55px;
}

li {
    display: inline;
    padding: 15px;
}

ul {
    vertical-align: top;
}
